
.DS_Store

Sample App/Sample App.xcodeproj/xcuserdata/dev2.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

Sample App/Sample App.xcodeproj/project.xcworkspace/xcuserdata/dev2.xcuserdatad/UserInterfaceState.xcuserstate
